/**************************/
/*  FOOTER */
/**************************/
.container-footer-wide {
  width: 100%;
  padding: 0 11%;
  margin: 0 auto;
  background: linear-gradient(to right, #347bce 50%, #fff 50%);
}

.container-footer-medium {
  display: none;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  background: linear-gradient(146.83deg, #234dae 8.11%, #347bce 90.67%);
}

.container-footer-medium-white {
  display: none;
  width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
  background: #fff;
}

/* .container-footer-mobile {
  display: none;
  width: 100%;
  padding: 0 1.2rem;
  margin: 0 auto;
  background: linear-gradient(146.83deg, #234dae 8.11%, #347bce 90.67%);
} */

.footer-wide {
  display: flex;
}

.footer-medium {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  padding: 3rem 0rem 5.7rem;
}

/* .footer-mobile {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0rem 5.7rem;
} */

.footer-heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.28rem;
  letter-spacing: -0.96px;
  text-align: left;
  margin-bottom: 5rem;
  color: #343b43;
  white-space: nowrap;
}

/**************************/
/*  FOOTER - READY TO DISCUSS */
/**************************/

.ready-to-discuss {
  width: 50%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
}

.footer-form input {
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: transparent;
  width: 100%;
  height: 5.4rem;
  display: block;
  padding-left: 4.6rem;
}

.footer-form input::placeholder {
  color: #fff;
  opacity: 1;
}

.footer-form input:focus {
  outline: none;
}

.footer-form-name,
.footer-form-phone {
  position: relative;
  min-width: 35rem;
  max-width: 100%;
}
.footer-form-name {
  margin-bottom: 3.3rem;
}

.footer-form-phone {
  margin-bottom: 4.8rem;
}

.cta-inverse {
  background: none;
  background-color: #fff;
  color: #304f95;
  margin-top: 32px;
  padding: 0 48px;
}

.footer-icon {
  position: absolute;
  left: 5px;
  top: 15px;
  transition: color 0.35s ease;
}

.footer-soc {
  margin-top: 7.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  flex-wrap: wrap;
}
.footer-soc a {
  display: inline-block;
  position: relative;
  margin-right: 3rem;
  color: #fff;
  padding: 7px 0;
}

.footer-soc a:hover::after {
  left: 0;
  right: 0;
}
.footer-soc a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  background: #fff;
  transition: left 0.35s ease, right 0.35s ease;
}

/**************************/
/*  FOOTER - CONTACT US */
/**************************/

.contact-us {
  width: 50%;
  background-color: #fff;
  padding-left: 12.5rem;
}

.footer-text-wrapper {
  padding-bottom: 4rem;
}

.footer-text-wrapper p {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.1rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: #304f95;
  padding-bottom: 1.2rem;
}
.footer-text-wrapper a {
  position: relative;
}

.footer-text-wrapper a:hover::after {
  left: 0;
  right: 0;
}

.footer-text-wrapper a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  height: 2px;
  background: linear-gradient(56.83deg, #2323ae 8.11%, #347bce 90.67%);
  transition: left 0.35s ease, right 0.35s ease;
}

.email-link,
.number-link {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.2rem;
}
.footer-email a:hover {
  color: #304f95;
}

.footer-number a {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.16rem;
}

.heading-useful-links {
  padding-bottom: 6rem;
  margin-bottom: 0rem;
}

.ul-wrapper {
  display: flex;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.col-1 {
  padding-right: 12.6rem;
}

.ul-wrapper .item {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.1rem;
  letter-spacing: -0.02em;
  text-align: left;
  list-style: none;
  white-space: nowrap;
}

/**************************/
/*  FOOTER- CONTACT US */
/**************************/

.footer-copyright {
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  padding: 2.6rem;
}

/**************************/
/* MEDIA QUERIES */
/**************************/

/**************************/
/* BELOW 1408px (Desktops) */
/**************************/

@media screen and (max-width: 88em) {
  .container-footer {
    padding: 0 7.5rem;
  }
  .contact-us {
    padding-left: 7.5rem;
  }
}

/**************************/
/* BELOW 1232px (Landscape Tablets) */
/**************************/
@media screen and (max-width: 77em) {
  .footer-heading {
    font-size: 4.2rem;
  }

  .col-1 {
    padding-right: 8rem;
  }

  .contact-us {
    padding-left: 5rem;
  }

  .footer-copyright {
    font-size: 1.4rem;
  }
}

/**************************/
/* BELOW 1024px (Tablets) */
/**************************/

@media screen and (max-width: 64em) {
  .container-footer-wide {
    display: none;
  }

  .container-footer-medium {
    display: block;
  }

  .container-footer-medium-white {
    display: block;
  }

  .container-footer-medium-white .contact-us {
    width: 100%;
    padding-left: 0;
    margin-top: 48px;
  }

  .container-footer-medium-white .contact-us .footer-heading {
    color: #343b43;
  }

  .footer-icon {
    left: 4px;
    top: 10px;
  }

  .footer-text-wrapper {
    padding-bottom: 27px;
  }

  .footer-text-wrapper .footer-email {
    .footer-text-wrapper .footer-number {
      padding-bottom: 0px;
    }
  }

  .email-link,
  .number-link {
    font-size: 22px;
  }

  #footer-text-wrapper-2 {
    padding-bottom: 0;
  }

  #footer-text-wrapper-2 .footer-number {
    padding-bottom: 0;
  }

  #footer-text-wrapper-2 .footer-number .number-link {
    font-size: 22px;
  }

  .container-footer-medium-white .footer-soc a {
    color: #343b43;
    margin-right: 2rem;
  }

  .footer-soc a::after {
    background: #343b43;
  }

  .footer-soc {
    margin-top: 50px;
  }

  .useful-links,
  .footer-heading {
    color: #fff;
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    padding: 0;
  }
  .cta-inverse {
    background: none;
    background-color: #fff;
    color: #304f95;
    margin-top: 32px;
    padding: 0 48px;
    white-space: nowrap;
    height: 65px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-family: "HelveticaNeueCyr", sans-serif;
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343b43;
  }
}

/**************************/
/* BELOW 768px (Smaller tablets) */
/**************************/
@media screen and (max-width: 48em) {
  .footer-medium {
    grid-template-columns: 1fr;
  }
}
