/**************************/
/*  FOOTER */
/**************************/
.container-footer {
  /* display: flex; */
  width: 100%;
  padding: 0 11%;
  margin: 0 auto;
  background: linear-gradient(to right, #347bce 50%, #fff 50%);
}

.footer-flex {
  display: flex;
  /* grid-template-columns: repeat (autofit, minmax(55rem, 50%));
  grid-template-areas: "discuss contact"; */
}

.footer-heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.28rem;
  letter-spacing: -0.96px;
  text-align: left;
  margin-bottom: 5rem;
  color: #343b43;
}

/**************************/
/*  FOOTER - READY TO DISCUSS */
/**************************/

.ready-to-discuss {
  grid-area: discuss;
  width: 50%;
  flex-shrink: 0;
}

.footer-form {
  display: flex;
  flex-direction: column;
  padding-right: 4.6rem;
}

.footer-form input {
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: transparent;
  width: 100%;
  height: 5.4rem;
  display: block;
  padding-left: 4.6rem;
}

.footer-form input::placeholder {
  color: #fff;
  opacity: 1;
}

.footer-form input:focus {
  outline: none;
}

.footer-form-name,
.footer-form-phone {
  position: relative;
  min-width: 34.4rem;
  max-width: 54.4rem;
}
.footer-form-name {
  margin-bottom: 3.3rem;
}

.footer-form-phone {
  margin-bottom: 4.8rem;
}

.cta-inverse {
  background: none;
  background-color: #fff;
  color: #304f95;
}

.footer-icon {
  position: absolute;
  left: 5px;
  top: 15px;
  transition: color 0.35s ease;
}

.footer-soc {
  margin-top: 7.8rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  flex-wrap: wrap;
}
.footer-soc a {
  display: inline-block;
  position: relative;
  margin-right: 3rem;
  color: #fff;
  padding: 7px 0;
}

.footer-soc a:hover::after {
  left: 0;
  right: 0;
}
.footer-soc a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  background: #fff;
  transition: left 0.35s ease, right 0.35s ease;
}

/**************************/
/*  FOOTER - CONTACT US */
/**************************/

.contact-us {
  grid-area: contact;
  width: 50%;
  flex-shrink: 0;
  background-color: #fff;
  padding-left: 12.5rem;
}

.footer-text-wrapper {
  padding-bottom: 4rem;
}

.footer-text-wrapper p {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3.1rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: #304f95;
  padding-bottom: 1.2rem;
}
.footer-text-wrapper a {
  position: relative;
}

.footer-text-wrapper a:hover::after {
  left: 0;
  right: 0;
}

.footer-text-wrapper a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  right: 50%;
  height: 2px;
  background: linear-gradient(56.83deg, #2323ae 8.11%, #347bce 90.67%);
  transition: left 0.35s ease, right 0.35s ease;
}

.email-link {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.2rem;
}
.footer-email a:hover {
  color: #304f95;
}

.footer-number a {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.16rem;
}

.heading-useful-links {
  padding-bottom: 6rem;
  margin-bottom: 0rem;
}

.ul-wrapper {
  display: flex;
}

.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.col-1 {
  padding-right: 12.6rem;
}

.ul-wrapper .item {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.1rem;
  letter-spacing: -0.02em;
  text-align: left;
  list-style: none;
  white-space: nowrap;
}

/**************************/
/*  FOOTER- CONTACT US */
/**************************/

.footer-copyright {
  grid-area: copyright;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
}
