* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: HelveticaNeueCyr, sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
  color: #343b43;
  background-color: #fafafa;
  overflow-x: hidden;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

img,
svg,
video,
canvas {
  height: auto;
}
/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: 152.2rem;
  width: 100%;
  padding: 0 1.2rem;
  margin: 0 auto;
  overflow: visible;
}

.container-hero {
  max-width: 125rem;
  width: 100%;
  margin: 0 auto;
}

.c-white {
  color: #fff !important;
}
.c-default {
  color: #343b43 !important;
}

.bg-color {
  background-color: #347bce;
}
.bg-color-grey {
  background-color: #fbfbfb;
}
.bg-color-white {
  background-color: #fff;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
/**************************/
/* MARGINS */
/**************************/
.mb-10 {
  margin-bottom: 1rem;
}
.mb-18 {
  margin-bottom: 1.8rem;
}
.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-30 {
  margin-bottom: 3rem;
}
.mb-36 {
  margin-bottom: 3.6rem;
}
.mb-45 {
  margin-bottom: 4.5rem;
}
.mb-135 {
  margin-bottom: 13.5rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-54 {
  margin-top: 5.4rem;
}
.mt-60 {
  margin-top: 6rem;
}
.mt-200 {
  margin-top: 20rem;
}
.ml-48 {
  margin-left: 4.8rem;
}

.px-35 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}
.pl-60 {
  padding-left: 6rem;
}

.px-40 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.px-45 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.pb-74 {
  padding-bottom: 7.4rem;
}

.pb-180 {
  padding-bottom: 18rem;
}

.pb-260 {
  padding-bottom: 26rem;
}

.pt-80 {
  padding-top: 8rem;
}

/**************************/
/* HEADINGS and TEXT */
/**************************/

.heading-primary {
  font-family: "RNSPhysis", sans-serif;
  font-size: 6.4rem;
  line-height: 1.1;
  font-weight: 900;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.28rem;
  font-family: "RNSPhysis", sans-serif;
  color: #304f95;
}

.sub-heading {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.3888888889;
  color: #304f95;
  margin: 2rem 0rem;
  font-family: "RNSPhysis", sans-serif;
}

.regular-text {
  font-family: HelveticaNeueCyr;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  color: #343b43;
}

.title {
  font-size: 4.2rem;
  line-height: 1.1;
  font-weight: 700;
  color: #304f95;
  font-family: "RNSPhysis", sans-serif;
}
.title-48 {
  font-size: 4.8rem;
  line-height: 1.1;
  font-weight: 700;
  color: #304f95;
  font-family: "RNSPhysis", sans-serif;
}
/**************************/
/* BUTTONS */
/**************************/

.btn {
  height: 5.6rem;
  background: linear-gradient(56.83deg, #234dae 8.11%, #347bce 90.67%);
  background-size: 100% 100%;
  cursor: pointer;
  padding: 0rem 3.2rem;
  color: #fff;
  border-radius: 4px;
  transition: background-size 0.35s ease;
  font-family: "RNSPhysis", sans-serif;
  letter-spacing: 0.02em;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 500;
  align-items: center;
  border: none;
}

.svg {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #343b43;
}

a,
button {
  transition: color 0.35s ease, background 0.35s ease, border 0.35s ease;
}
