/**************************/
/* HEADER */
/**************************/
.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13rem;
  padding: 3.5rem 0;
  position: relative;
  font-size: 1.6rem;
  font-family: "RNSPhysis", sans-serif;
  letter-spacing: 0.02em;
}
.nav-logo {
}

.logo-img {
  height: 5.9rem;
}

/**************************/
/* NAVIGATION */
/**************************/

/* MOBILE */
/* .header-bars {
    display: flex;
    position: relative;
}
.header-bars span::before, 
.header-bars span::after {
    transition: all 0.35s ease;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: #304f95;
    transform-origin: 0 50%;
} */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 24px;
  width: 24px;
  color: #304f95;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.main-nav {
  display: block;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.5rem;
  white-space: nowrap;
}

.dropdown-item-and-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
}
.arrow-down {
  display: inline-block;
  padding-left: 4px;
  padding-top: 4px;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  position: relative;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: -10px;
  background-color: #fff;
  z-index: 10;
  white-space: nowrap;
  box-shadow: 0 20px 20px rgb(48 79 149 / 5%);
  padding: 15px 20px;
  transition: opacity 0.35s ease, visibility 0.35s ease;
}

.dropdown-content a {
  color: inherit;
  font-size: 2rem;
  padding: 10px 0;
  text-decoration: none;
  display: block;
  position: relative;
}

.main-nav-link:hover,
.dropdown-content a:hover {
  color: #304f95;
}

.dropdown-item-and-icon:hover .dropdown-content {
  display: block;
}

.main-nav-link:hover::after {
  left: 0;
  right: 0;
}
.main-nav-link::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  right: 50%;
  height: 2px;
  background: #304f95;
  transition: left 0.35s ease, right 0.35s ease;
}

.nav-cta {
  display: inline-flex;
  align-self: center;
  white-space: nowrap;
}

/**************************/
/* MEDIA QUERIES HEADER */
/**************************/

/**************************/
/* BELOW 1024px (Tablets) */
/**************************/
@media screen and (max-width: 64em) {
  /**************************/
  /* HEADER-MOBILE NAVIGATION */
  /**************************/
  .page-header {
    display: flex;
    align-items: center;
    z-index: 9000;
  }
  .btn-and-menu-wrapper {
    display: flex;
  }
  .nav-cta {
    margin-right: 3rem;
  }

  /* .header-bars {
    background-color: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 104px;
    left: 0;
    width: 100%;
    height: calc(100vh - 104px);
    /* transform: translateX(100%); */

    display: flex;
    align-items: center;
    transition: all 0.5s;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 768px (Mobiles) */
/**************************/
@media screen and (max-width: 48em) {
  .nav-cta {
    display: none;
  }
}
