//1520px
@media only screen and (min-width: 768px) {
  body {
    background-color: red;
  }

  .container {
    max-width: 120rem;
    background-color: red;
  }

  .heading-primary {
    font-size: 5.2rem;
  }

  .svg-1 {
    max-width: 65rem;
  }
}
