/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1584px (Desktops) */
/**************************/

@media screen and (max-width: 99em) {
  .what-we-do-grid {
    grid-template-columns: 52% 48%;
    grid-column-gap: 3rem;
  }
  .svg-2 {
    max-width: 60rem;
  }
}

/**************************/
/* BELOW 1520px (Desktops) */
/**************************/

@media screen and (max-width: 95em) {
  .container {
    max-width: 125rem;
    overflow: auto;
  }

  .title {
    margin-bottom: 3.6rem;
  }

  .heading-primary {
    font-size: 5.4rem;
  }

  .svg-1 {
    max-width: 60rem;
  }
  .svg-2 {
    max-width: 55rem;
  }
}

/**************************/
/* BELOW 1408px (Desktops) */
/**************************/

@media screen and (max-width: 88em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .section-hero {
    padding: 8rem 9rem 7rem 9rem;
  }
  .svg-2 {
    max-width: 50rem;
  }
  .container-footer {
    padding: 0 7.5rem;
  }
  .contact-us {
    padding-left: 7.5rem;
  }
}

/**************************/
/* BELOW 1232px (Landscape Tablets) */
/**************************/

@media screen and (max-width: 77em) {
  .container {
    max-width: 120rem;
  }
  .title {
    font-size: 4.2rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .proven-strategies-grid {
    grid-template-columns: 50% 50%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .proven-strategies-img {
    grid-area: img;
    justify-self: flex-end;
    align-self: center;
  }

  .what-we-do-grid {
    grid-template-columns: 50% 50%;
    grid-column-gap: 2rem;
  }

  .svg-1 {
    min-width: 48rem;
  }
  .regular-text {
    font-size: 1.8rem;
  }
  .mb-35 {
    margin-bottom: 2.5rem;
  }

  .footer-heading {
    font-size: 4.2rem;
  }

  .col-1 {
    padding-right: 8rem;
  }

  .contact-us {
    padding-left: 5rem;
  }

  .footer-copyright {
    font-size: 1.4rem;
  }
}
/**************************/
/* BELOW 1056px (Tablets) */
/**************************/

@media screen and (max-width: 66em) {
  .regular-text {
    font-size: 1.6rem;
  }
  .what-we-do-grid {
    grid-template-columns: 48% 52%;
    grid-column-gap: -1rem;
  }
}
/**************************/
/* BELOW 1024px (Tablets) */
/**************************/

@media screen and (max-width: 64em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .heading-primary {
    font-size: 3.6rem;
    text-align: center;
  }
  .section-hero {
    padding: 5rem 3rem 6rem 3rem;
  }

  .hero-form-wrapper {
    padding: 1.6rem;
  }

  .hero-form input::-webkit-input-placeholder {
    font-size: 1.6rem;
  }

  .hero-form .btn-cta {
    margin-left: 0;
  }

  .hero-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-description {
    font-size: 1.8rem;
  }

  .proven-strategies-grid {
    display: grid;
    grid-template-areas:
      "title title"
      "text img";
  }

  .svg-1 {
    min-width: 35rem;
  }

  .title {
    font-size: 3.2rem;
  }

  .mb-35 {
    margin-bottom: 2rem;
  }

  /**************************/
  /*  FOOTER */
  /**************************/

  .container-footer-wide {
    display: none;
  }

  .container-footer-medium {
    display: block;
  }

  .container-footer-medium-white {
    display: block;
  }

  .container-footer-medium-white .contact-us {
    width: 100%;
    padding-left: 0;
    margin-top: 48px;
  }

  .container-footer-medium-white .contact-us .footer-heading {
    color: #343b43;
  }

  .footer-text-wrapper {
    padding-bottom: 27px;
  }

  .footer-text-wrapper .footer-email {
    .footer-text-wrapper .footer-number {
      padding-bottom: 0px;
    }
  }

  .email-link,
  .number-link {
    font-size: 22px;
  }

  #footer-text-wrapper-2 {
    padding-bottom: 0;
  }

  #footer-text-wrapper-2 .footer-number {
    padding-bottom: 0;
  }

  #footer-text-wrapper-2 .footer-number .number-link {
    font-size: 22px;
  }

  .container-footer-medium-white .footer-soc a {
    color: #343b43;
    margin-right: 2rem;
  }

  .footer-soc a::after {
    background: #343b43;
  }

  .footer-soc {
    margin-top: 50px;
  }

  .useful-links,
  .footer-heading {
    color: #fff;
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
    padding: 0;
  }
  .cta-inverse {
    background: none;
    background-color: #fff;
    color: #304f95;
    margin-top: 32px;
    padding: 0 48px;
    white-space: nowrap;
    height: 65px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-family: "HelveticaNeueCyr", sans-serif;
  }
  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343b43;
  }
}
