/* SAAS MARKETING AGENCY  */
.section-1 {
  padding: 4rem 0rem 10rem;
}
.section-1 .service-intro-grid {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 4.2rem auto;
  grid-template-areas:
    "title img"
    "text img";
}

.section-1 .title {
  grid-area: title;
}
.article-text {
  grid-area: text;
  padding-right: 10rem;
}
.img-svg {
  display: flex;
  grid-area: img;
  justify-content: center;
  width: 100%;
  height: 58rem;
}
/* SERVICE HEX   */
.section-2 {
  padding: 6.4rem 0rem;
}
.section-2 .service-intro-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "content ."
    "content .";
}
.hex-content {
  background: #fff;
  display: block;
  text-align: left;
  padding: 7rem 10rem;
  padding-right: 12rem;
}
.section-2 .main-btn {
  margin-top: 4.6rem;
}
.section-2 .btn {
  padding: 0 5rem;
  font-size: 2.4rem;
  height: 6.4rem;
  width: auto;
}
/* SERVICE SEO section-3 */
.section-3,
.section-4,
.section-5 {
  padding: 14.4rem 0rem 11rem;
}
.section-3 .service-intro-grid {
  display: grid;
  grid-template-columns: 1fr 55%;
  grid-template-rows: minmax(max-content, auto);
  grid-template-areas:
    "title img"
    "text img";
}
.section-3 .title-48 {
  grid-area: title;
  margin-right: 8rem;
}
.section-3 .article-text-3 {
  grid-area: text;
  margin-right: 8rem;
}

.title-48 {
  grid-area: title;
  margin-bottom: 2.4rem;
}

.graph-wrapper {
  grid-area: img;
  width: 100%;
  padding: 2.4rem 0rem;
}

.graph-21 {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 40px 60px rgb(35 78 175 / 8%);
}
/* SERVICE SEO section-4   */
.section-4 .service-intro-grid {
  display: grid;
  grid-template-columns: 55% 1fr;
  grid-template-rows: minmax(max-content, auto);
  grid-template-areas:
    "img title"
    "img text ";
}
.section-4 .title-48 {
  grid-area: title;
  margin-left: 8rem;
}
.section-4 .article-text-3 {
  grid-area: text;
  margin-left: 8rem;
}
/* SERVICE SEO (Iceberg) section-5   */
.section-5 .service-intro-grid {
  display: grid;
  grid-template-columns: 1fr 42%;
  grid-template-rows: minmax(10rem, auto);
  grid-template-areas:
    "title img"
    "text img";
}
.section-5 .title-48 {
  grid-area: title;
  margin-right: 8rem;
}
.section-5 .article-text-3 {
  grid-area: text;
  margin-right: 4rem;
}
.section-5 .img-svg {
  height: 75rem;
  justify-content: flex-end;
  align-items: center;
}
.iceberg-svg {
  margin-left: -2rem;
  width: 100%;
}
/* Service SEO (Content marketing) section-6 */
.section-6 {
  padding-bottom: 6rem;
}
.section-6 .service-intro-grid {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-areas:
    "title ."
    "img col-right"
    "text text";
}
.section-6 .title-48 {
  grid-area: title;
  margin-right: 25rem;
}
.section-6 .graph-8 {
  grid-area: img;
  width: 97%;
}
.section-6 .col-right {
  grid-area: col-right;
  align-self: center;
  margin-left: 15rem;
  padding-right: auto;
}
.section-6 .article-text-3 {
  grid-area: text;
  display: flex;
}

/* Service SEO PLAN section-7 */

.section-7 {
  padding: 14.4rem 0rem 11rem;
}

.service-seo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.service-seo-item .title-48 {
  padding: 0 36rem;
  text-align: center;
  margin-bottom: 0;
  color: #343b43;
}
.service-seo-item .regular-text {
  padding: 3rem 29rem;
}

/**************************/
/* M E D I A   Q U I E R I E S */
/**************************/
/**************************/
/* BELOW 1536px (Desktops) */
/**************************/
@media screen and (max-width: 96em) {
  .section-3 .title-48 {
    margin-right: 5rem;
  }
  .section-3 .article-text-3 {
    margin-right: 5rem;
  }
  .graph-wrapper {
    align-self: center;
  }
  .section-4 .title-48 {
    font-size: 3.8rem;
  }
}
/**************************/
/* BELOW 1440px (Desktops) */
/**************************/
@media screen and (max-width: 90em) {
  .section-1 .article-text {
    padding-right: 4rem;
  }
  .section-6 .col-right {
    margin-left: 11rem;
  }
}
/**************************/
/* BELOW 1312px (Desktops) */
/**************************/
@media screen and (max-width: 82em) {
  .section-6 .title-48 {
    margin-right: 0rem;
  }
  .section-6 .col-right {
    margin-left: 9rem;
  }
}
/**************************/
/* BELOW 1200px (Desktops) */
/**************************/
@media screen and (max-width: 75em) {
  .section-1 {
    padding: 2rem 0rem;
  }
  .section-1 .article-text {
    padding-right: 1rem;
  }
  .btn {
    font-size: 2rem;
  }

  .img-svg {
    align-items: flex-start;
    height: auto;
  }
  .section-3,
  .section-4,
  .section-5,
  .section-6 {
    padding: 8rem 0rem;
  }
  .section-3 .article-text-3 {
    margin-right: 2rem;
  }
  .mb-26 {
    margin-bottom: 2rem;
  }
  .section-4 .title-48 {
    margin-left: 5rem;
  }
  .section-4 .article-text-3 {
    margin-left: 5rem;
  }
  .section-4 .title-48 {
    font-size: 3.6rem;
  }
  .section-5 .service-intro-grid {
    grid-template-columns: 1fr 52%;
  }
  .section-5 .title-48 {
    margin-right: 0rem;
  }
  .section-5 .article-text-3 {
    margin-right: 0rem;
  }
  .section-5 .img-svg {
    align-items: center;
    height: auto;
  }
  .section-6 .col-right {
    margin-left: 6rem;
  }
  .pr-10 {
    padding-right: 6rem;
  }
}
/**************************/
/* BETWEEN 1200px and 1024px (Desktops) */
/**************************/
@media (max-width: 75em) and (min-width: 64em) {
  .section-5 .article-text-3 {
    width: 52rem;
  }
}
/**************************/
/* BELOW 1024px (Desktops) */
/**************************/
@media screen and (max-width: 64em) {
  .section-1 {
    padding: 0rem 0rem 2rem;
  }

  .section-1 .service-intro-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.6rem auto;
  }

  .section-1 .sub-heading {
    font-size: 2rem;
  }

  .section-1 .title {
    margin-bottom: 2rem;
  }

  .section-1 .img-svg {
    grid-area: img;
    width: 100%;
    align-self: center;
  }

  .section-2 .service-intro-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "content";
  }
  .hex-content {
    max-width: 50rem;
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    text-align: center;
    padding: 7rem 6rem;
  }
  .section-2 .btn {
    font-size: 1.8rem;
    height: 6rem;
  }
  .section-3,
  .section-4,
  .section-5,
  .section-6 {
    padding: 5rem 0rem;
  }
  .section-3 .saas-article-text .regular-text {
    font-size: 1.6rem;
  }
  .section-3 .service-intro-grid,
  .section-4 .service-intro-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "img"
      "text";
  }
  .graph-label {
    margin-top: 1rem;
  }

  .graph-wrapper {
    padding: 0rem;
    margin-bottom: 2rem;
  }
  .section-4 .title-48 {
    margin-left: 0rem;
  }
  .section-4 .article-text-3 {
    margin-left: 0rem;
  }
  .section-4 .title-48 {
    font-size: 3.2rem;
  }

  .section-5 .service-intro-grid {
    grid-template-columns: 1fr 30%;
  }
  .section-6 .service-intro-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "img"
      "col-right"
      "text";
  }
  .pr {
    padding-right: 0;
  }
  .section-6 .col-right {
    margin-left: 0rem;
  }
  .section-6 .article-text-3 {
    display: flex;
    flex-direction: column;
  }
  .service-seo-item .title-48 {
    padding: 0;
    color: #304f95;
  }
  .service-seo-item .regular-text {
    padding: 0;
    padding-top: 2.4rem;
    padding-bottom: 2.6rem;
    text-align: center;
  }
  .section-7 .btn {
    width: auto;
    height: 5.6rem;
  }
}
/**************************/
/* BETWEEN 1024px and 768px (Tablets) */
/**************************/
@media (max-width: 64em) and (min-width: 48em) {
  .iceberg-svg {
    margin: 0 auto;
  }
  .section-5 .img-svg {
    padding-top: 2rem;
    width: 28rem;
    margin-left: -2rem;
  }
}
/**************************/
/* BELOW 880px (Mobile) */
/**************************/
@media screen and (max-width: 55em) {
  .section-5 .img-svg {
    width: 100%;
  }
}
/**************************/
/* BELOW 768px (Mobile) */
/**************************/
@media screen and (max-width: 48em) {
  .section-1 .service-intro-grid {
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "img img"
      "text text";
  }

  .section-5 .service-intro-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "img"
      "text";
  }
  .iceberg-svg {
    margin: 2.4rem auto;
  }

  .section-1 .title {
    margin-bottom: 2rem;
  }
  .main-btn {
    margin-top: 2rem;
  }
  .btn {
    font-size: 1.6rem;
  }
  .section-3,
  .section-4,
  .section-5,
  .section-6 {
    padding: 2.4rem 0rem;
  }
  .service-seo-item .title-48 {
    text-align: left;
  }
  .service-seo-item .regular-text {
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .section-7 .btn {
    width: 100%;
  }
  .service-seo-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
