/* FACEBOOK ADS AGENCY  */
.service-intro-grid {
  display: grid;
  grid-template-columns: 43% 55%;
  grid-template-rows: 4.4rem auto;
  grid-template-areas:
    "title img"
    "text img";
}

.title {
  margin-bottom: 2rem;
  grid-area: title;
}
.article-text {
  grid-area: text;
  margin-right: 15rem;
}
.img-svg {
  grid-area: img;
}
.main-btn {
  display: inline-flex;
}
/* CLIENTS  */
.clients-logos {
  display: flex;
  flex-direction: column;
}
.sub-heading--clients {
  font-family: "RNSPhysis", sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  color: #343b43;
  line-height: 1.375;
}
.title--clients {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}
.img-logos-wrapper {
  display: flex;
  align-items: center;
}
.img-logo {
  margin-right: 11rem;
}
.client-logo {
  max-width: unset;
}
/* WIDE ARTICLE CONTENT, LONG HEADING SECTION  */
.service-intro-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.service-intro-flex .title-48 {
  order: 1;
}
.service-intro-flex .article-text {
  order: 2;
}
.service-intro-flex .img-svg {
  margin-top: 9rem;
  align-self: center;
  order: 3;
}
.graph-label {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 300;
  margin-top: 2.6rem;
  text-align: center;
}
