.title {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}

.service-intro {
  display: flex;
}

.img-svg {
  width: 50%;
  max-width: 68rem;
}
.article-text {
  align-self: center;
  margin-right: 8%;
  width: 42%;
}

/* ARTICLE (TEXT ON RIGHT SIDE) */
.article-text-right {
  align-self: center;
  margin-left: 6%;
  width: 42%;
}

.img-svg-left {
  width: 52%;
  max-width: 82rem;
}

/* ARTICLE (TEXT ON LEFT SIDE) */
.article-text-3 {
  width: 44%;
  margin-right: 6%;
}

.main-btn {
  display: inline-flex;
  height: 6.4rem;
  margin-top: 3.6rem;
}

.graphs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-wrapper {
  /* margin: 2.4rem 0rem; */
}

.graph-21 {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 40px 60px rgb(35 78 175 / 8%);
}

.graph-label {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}
