.title {
  font-size: 4.8rem;
  margin-bottom: 2rem;
  grid-area: title;
}

.service-intro {
  display: flex;
  justify-content: space-between;
}

.img-svg {
  width: 50%;
  max-width: 68rem;
}
.article-text {
  align-self: center;
  margin-right: 8%;
  width: 42%;
}

/* ARTICLE 2(TEXT ON RIGHT SIDE) */
.section-2 .service-intro {
  justify-content: flex-start;
}
.article-text-right {
  align-self: center;
  margin-left: 4%;
  width: 40%;
}

.short-text {
  font-family: "RNSPhysis", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.375;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 4.7rem;
}

.img-svg-left {
  width: 56%;
  max-width: 82rem;
  margin-left: -3%;
}

.main-btn {
  display: inline-flex;
  height: 6.4rem;
  margin-top: 3.6rem;
}

/* ARTICLE 3(TEXT ON LEFT SIDE) */
.section-3 .service-intro-grid {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: minmax(max-content, auto);
  grid-template-areas:
    "title img"
    "text img";
}
.article-text-3 {
  grid-area: text;
  width: 89%;
  margin-right: 15.6rem;
}

.graph-wrapper {
  grid-area: img;
  width: 100%;
  align-self: center;
}

.graph-21 {
  width: 100%;
  max-width: 73rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 40px 60px rgb(35 78 175 / 8%);
}
/* ARTICLE 4(TEXT ON RIGHT SIDE) */
.graphs-wrapper {
  width: 52%;
  display: flex;
  flex-direction: column;
}

.graphs-wrapper .graph-wrapper {
  width: 100%;
  margin-top: 4.8rem;
}

.graph-label {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 300;
  margin-top: 2.6rem;
  text-align: center;
}
.graph-text-right {
  width: 44%;
  margin-left: 4%;
}

/* ARTICLE 5 (TEXT ON LEFT SIDE) */
.section-5 .service-intro-grid {
  display: grid;
  grid-template-columns: 46% 54%;
  grid-template-rows: minmax(max-content, auto);
  grid-template-areas:
    "title img"
    "text img";
}
.section-5 .img-svg {
  grid-area: img;
  width: 100%;
  max-width: 84rem;
  align-self: center;
  margin-top: 7%;
  margin-right: -7%;
}
.section-5 .img-svg .service-svg-5 {
  width: 110%;
  max-width: 84rem;
}
.section-5 .article-text {
  grid-area: text;
  width: 89%;
  margin-right: auto;
}
/**************************/
/* BELOW 1600px (Desktops) */
/**************************/
@media screen and (max-width: 100em) {
  .container {
    padding: 0 2.4rem;
  }
  .section-5 .img-svg {
    margin-right: 0;
    max-width: 74rem;
  }
  .img-svg-left {
    max-width: 76rem;
    margin-left: 0;
  }
  .section-5 .img-svg .service-svg-5 {
    width: 100%;
  }
}
/**************************/
/* BELOW 1408px (Laptops) */
/**************************/
@media screen and (max-width: 88em) {
  .mb-36 {
    margin-bottom: 2.8rem;
  }
  .title {
    font-size: 3.8rem;
  }
  .section-5 .img-svg {
    display: flex;
    align-items: center;
  }
  .section-5 .img-svg .service-svg-5 {
    max-width: 66rem;
  }
}
/**************************/
/* BELOW 1200px (Laptops) */
/**************************/
@media screen and (max-width: 75em) {
  .title {
    font-size: 3.6rem;
  }
  .sub-heading {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  .short-text {
    font-size: 2rem;
  }
  .regular-text {
    line-height: 1.3;
    font-size: 1.8rem;
  }
  .article-text {
    margin-right: 2rem;
    width: 49%;
  }
  .section-2 .service-intro {
    justify-content: space-between;
  }
  .img-svg-left {
    max-width: 57rem;
    width: 52%;
  }
}
/**************************/
/* BELOW 1024px (Tablets) */
/**************************/
@media screen and (max-width: 64em) {
  .title {
    font-size: 3.2rem;
  }
  .service-intro {
    flex-wrap: wrap;
  }
  .article-text {
    width: 100%;
    margin: 0 auto;
  }

  .sub-heading {
    font-size: 2rem;
  }

  .img-svg {
    width: 100%;
    margin: 0 auto;
  }
  .section-2 .service-intro {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .article-text-right {
    width: 100%;
    margin: 0 auto;
  }
  .img-svg-left {
    width: 100%;
    margin: 0 auto;
    max-width: 66rem;
    margin-bottom: 3rem;
  }
  .short-text {
    margin-top: 0.6rem;
  }
  .main-btn {
    width: 100%;
    justify-content: center;
  }
  .section-3 .service-intro-grid,
  .section-4 .service-intro,
  .section-5 .service-intro-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .section-3 .graph-21,
  .section-4 .graph-21 {
    margin: 0 auto;
    max-width: 92rem;
  }
  .graph-wrapper {
    align-self: auto;
  }
  .graph-label {
    margin: 1.2rem auto;
  }
  .mb-36 {
    margin-bottom: 2.4rem;
  }
  .section-3 .article-text-3,
  .section-4 .graph-text-right,
  .section-5 .article-text {
    margin: 0 auto;
    width: 100%;
  }
  .section-4 .graphs-wrapper {
    margin: 0 auto;
    max-width: 92rem;
    width: 100%;
  }
  .pb-260 {
    padding-bottom: 13rem;
  }
  .pb-180 {
    padding-bottom: 4.8rem;
  }
  .section-5 .img-svg {
    justify-items: center;
    margin: 0 auto;
    max-width: 92rem;
    width: 100%;
  }
  .section-5 .img-svg .service-svg-5 {
    max-width: 87rem;
  }
}
