/* SAAS MARKETING AGENCY  */
.section-1 {
  padding: 4rem 0rem 10rem;
}
.service-intro-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "title img"
    "text img";
}

.section-1 .title {
  margin-bottom: 2rem;
  grid-area: title;
}
.article-text {
  grid-area: text;
  margin-right: auto;
}
.img-svg {
  display: flex;
  grid-area: img;
  width: 100%;
  justify-content: flex-end;
}
/* SERVICE HEX   */
.section-2 {
  padding: 6.4rem 0rem;
}
.section-2 .service-intro-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "content ."
    "content .";
}
.hex-content {
  background: #fff;
  display: block;
  text-align: left;
  padding: 13rem 10rem;
}
.main-btn {
  margin-top: 4.6rem;
}
.btn {
  padding: 0 5rem;
  font-size: 2.4rem;
  height: 6.4rem;
}

.section-3 {
  padding: 9.5rem 2rem;
}

.service-process-grid {
  display: grid;
  grid-template-columns: repeat(2, fr);
  column-gap: 18.7rem;
  grid-template-areas:
    "title title"
    "card-1 card-2"
    "card-3 card-4";
}
.section-3 .title-48 {
  grid-area: title;
}
.card-1 {
  grid-area: card-1;
}
.card-2 {
  grid-area: card-2;
}
.card-3 {
  grid-area: card-3;
}
.card-4 {
  grid-area: card-4;
}
.saas-card {
  display: flex;
  flex-direction: column;
}

.section-3 .svg-wrapper {
  background: #fff;
  padding: 8rem;
  margin: 4rem;
  align-self: center;
  justify-self: center;
}
.section-3 .article-text {
  margin: 0 2.8rem;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 75em) {
  .service-intro-grid {
    grid-template-columns: 50% 50%;
  }
}

/**************************/
/* BELOW 1024px (Desktops) */
/**************************/
@media screen and (max-width: 64em) {
  .section-1 .service-intro-grid {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-areas:
      "title title"
      "text img";
  }

  .section-1 .title {
    margin-bottom: 0rem;
  }

  .section-1 .img-svg {
    grid-area: img;
    width: 95%;
    align-self: flex-end;
    justify-self: flex-end;
  }

  .section-1 {
    padding: 0rem 0rem 2rem;
  }
}

/**************************/
/* BELOW 768px (Mobile) */
/**************************/
@media screen and (max-width: 48em) {
  .section-1 .service-intro-grid {
    grid-template-areas:
      "title title"
      "img img"
      "text text";
  }
  .section-1 .img-svg {
    width: 90%;
    align-self: center;
    justify-self: center;
  }
  .section-1 .title {
    margin-bottom: 2rem;
  }
}
